<h1>Decrypt your message</h1>

<form action="/decrypt" method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div>
      <label for="message">Encrypted message</label><br />
      <textarea name="message" id="message" rows="4" cols="50"></textarea>
  </div>

  <div>
    <label for="privatekey">Private Key</label><br />
    <textarea name="privatekey" id="privatekey" rows="2" cols="50"></textarea>
  </div>

  <div class="btn-group">
    <input type="submit" name="decrypt_button" value="Decrypt">
  </div>
</form>

<a href="/">Return to the mainpage.</a>

{% if decrypted %}
<p style="overflow-wrap: break-word;">{{ decrypted }}</p>
{% endif %}