{% extends "layout.html" %}

{% block body %}
{% if decrypted %}
<h2>Your decrypted message</h2>
<p style="overflow-wrap: break-word;">{{ decrypted }}</p>
<a href="/decrypt" role="button" class="btn btn-secondary btn-lg broad-btn">Decrypt another message</a>
{% else %}

<form action="/decrypt" method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="error">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div>
      <label for="message"><h3>Message to decrypt</h3></label><br />
      <textarea name="message" id="message" rows="7"></textarea>
  </div>

  <div>
    <label for="privatekey"><h3>Private Key</h3></label><br />
    <textarea name="privatekey" id="privatekey" rows="4"></textarea>
  </div>

  <input type="submit" name="decrypt_button" value="Decrypt" style="width:100%">

</form>
{% endif %}

{% endblock %}