{% extends "layout.html" %}

{% block body %}
{% if encrypted %}
<h2>Your encrypted message</h2>
<p style="overflow-wrap: break-word;">{{ encrypted }}</p>
<a href="/encrypt" role="button" class="btn btn-secondary btn-lg broad-btn">Encrypt another message</a>
{% else %}

<form action="/encrypt" method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="error">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div>
      <label for="message"><h3>Message to encrypt</h3></label><br />
      <textarea name="message" id="message" rows="7"></textarea>
  </div>

  <div>
    <label for="publickey"><h3>Public Key</h3></label><br />
    <textarea name="publickey" id="publickey" rows="4"></textarea>
  </div>

  <input type="submit" name="encrypt_button" value="Encrypt">

</form>
{% endif %}

{% endblock %}