<h3>Please register for using the supersecret service</h3>
<form action="/register" method="post">
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}
  
  <div>
      <label for="username">Enter a username</label>
      <input type="text" name="username" id="username">
  </div>

  <div>
      <label for="password">Enter a password</label>
      <input type="password" name="password" id="password">
  </div>
  <p>
  <button>
      Register
  </button>
  
  <!-- placeholder for registerbutton -->
  <p>
  <div>
      <a href="/login">Login if you already are a user</a>
  </div>

</form>